/* <-- обнуление css свойств */
*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}
/* обнуление css свойств --> */

body {
  font-family: sans-serif;
  font-size: 15px;
}
/*обертка*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
/*контейнер*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
	/*border: 1px solid #000;*/
}

/*!стили для секции баннера*/
.banner {
  background: url(../img/images/banner/banner_background.jpg) top center no-repeat;
  background-size: cover;
}
.banner-gradient {
  background: linear-gradient(0deg, rgba(245,226,142,0.9) 0%, rgba(217,128,128,0.9) 100%);
  background-size: cover;
  color: #fff;
  padding: 30px 0;
  display: flex;
  min-height: 100%;
}
/*------------------------------------------*/

/*верхняя часть баннера*/
.banner__head {
  display: flex;
  justify-content: space-between;
}
.banner__mogo {
  font-size: 30px;
  flex: 1 1 50%;
}
/*------------------------------------------*/

/*стили меню навигации*/
.banner__menu {
  display: flex;
  justify-content: space-between;
  flex: 1 1 50%;
  margin: 0 0 173px 0;
}

.banner__link {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  transition: 0.5s;
  margin: 0 24.5px;
}
.banner__link:hover {
  color: #f5e28e;
  position: relative;
}
.banner__link::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f5e28e;
  bottom: -8px;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.banner__link:hover::after {
  opacity: 1;
}

.banner__link-icon {
  display: block;
  margin: 0 27.5px;
  align-self: center;
  position: relative;
}
.banner__link-icon::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f5e28e;
  bottom: -12px;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.banner__link-icon:hover::after {
  opacity: 1;
}

.banner__menu a:first-child{
  margin: 0 24.5px 0 0;
} 
.banner__menu a:last-child{
  margin: 0 0 0 24.5px;
}
/*------------------------------------------*/

/*стили для центральной части баннера*/
.banner__welcome {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}
.banner__subtitle {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 72px;
  text-align: center;
  margin: 0 0 57px 0;
}
.banner__title {
  font-size: 150px;
  font-weight: 700;
  line-height: 0.93;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 124px 0;
}
.banner__title::after{
  content: "";
  display: block;
  margin: 71px auto;
  width: 60px;
  height: 3px;
  background-color: #fff;
}
/*------------------------------------------*/

/*стили для кнопки баннера*/
.banner__button {
  margin: 0 auto 157px;
}
.button {
  display: block;
  width: 160px;
  border: 3px solid #fff;

  font-size: 14px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  transition: 0.5s;
}
.button:hover{
  background-color: #fff;
  color: #333;
}
/*------------------------------------------*/

/*стили для слайдера в нижней части баннера*/
.slider {
  display: flex;
  justify-content: space-between;
  /*margin: 0 -15px;*/
}
.slider__elem {
  width: 280px;
  border-top: 3px solid #f4ebc8;
  padding: 26px 15px 0;
  text-transform: uppercase;
  transition: 0.5s;
	margin: 0 15px;

  font-size: 18px;
  color: #f4ebc8;
}
.slider__elem span {
  font-size: 24px;
  font-weight: 700;
}
.slider__elem:first-child{
  margin: 0 15px 0 0;
} 
.slider__elem:last-child{
  margin: 0 0 0 15px;
}

.slider__elem:hover, .slider__elem_active {
  position: relative;
  border-top: 3px solid #fff;
  color: #fff;
}
.slider__elem:hover::before, .slider__elem_active::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 70px;
  height: 3px;
  background-color: #d98080;
}
/*------------------------------------------*/
/*!------------------------------------------*/


/*!стили для секции "о нас"*/
.about-us {
	padding: 95px 0px 110px 0px;
}

.about-us__content {
}

/*стили для заголовка секции*/
.about-us__header-block {
	margin: 0px 0px 40px 0px;
}
.header-block {
}
.header-block__subtitle {
	font-size: 24px;
  text-align: center;
  color: #363636;
	margin: 0px 0px 25px 0px;
	font-family: "kaushan script" , cursive;
}
.header-block__title {
	font-size: 30px;
  text-align: center;
  color: #363636;
	text-transform: uppercase;
	font-weight: 700;
}
.header-block__title::after {
	content: "";

	width: 60px;
	height: 3px;
	background-color: #d98080;

	display: block;
	margin: 40px auto 0;	
}
/*------------------------------------------*/

/*стили для текста*/
.about-us__text {
	margin: 0 auto 100px;
}
.text {
	font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: #989898;

	max-width: 941px;
}
/*------------------------------------------*/

/*стили для фотокартчек*/
.about-us__card {
}
.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -15px;
}
.card__image {
	flex: 0 0 33.333%;
	padding: 0 15px;
}
.card__image-wrapper {
	position: relative;
	transition: 500ms ease;
}
.card__image img {
	max-width: 100%;
}

.card__hover {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;

	background:  linear-gradient(0deg, rgba(245,226,142,0.9) 0%, rgba(217,128,128,0.9) 100%);
	transition: 0.5s ease;
}
.card__hover-item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.card__hover-icon {
	display: block;
	max-width: 32px;
	max-height: 24px;
	margin: 0 auto 11px;
}
.card__hover-text {
	font-size: 18px;
  text-align: center;
	text-transform: uppercase;
  color: #fff;
	margin: 0 auto;
}

.card__image:hover  .card__image-wrapper {
	transform: translate(-10px, -10px);

	box-shadow: 10px 10px 0px 0px #aee0d2;
}
.card__image:hover  .card__hover {
	opacity: 1;
}
/*------------------------------------------*/
/*!------------------------------------------*/

/* ! стили для секции "факты"*/
.facts {
	background-color: #aee0d2;
	color: #fff;
}
.facts__row {
	display: flex;
}
.facts__elem {
	border-left: 1px solid #fff;
	flex: 1 1 0;

	padding: 80px 0px 90px 0px;
}
.facts__elem:last-child {
	border-right: 1px solid #fff;
}

.facts__fact {
	margin: 0 auto;
	height: 100%;
}
.facts__number {
	font-size: 72px;
  text-align: center;

	margin: 0px 0px 20px 0px;
}
.facts__text {
	font-size: 14px;
  text-align: center;
	text-transform: uppercase;
	line-height: 1;
}
/*------------------------------------------*/
/*!------------------------------------------*/

/*! стили для секции "сервисы"*/
.services {
	padding: 110px 0px 70px 0px;
}
.services__content {
	padding: 0px 20px;
}
/*------------------------------------------*/

/*Заголовок секции "сервисы"*/
.services__header-block {
	margin: 0px 0px 10px 0px;
}
/*------------------------------------------*/

/*флекс контейнер секции "сервисы"*/
.services__row {
	margin: 0 -32.5px;

	display: flex;
	flex-wrap: wrap;
}
.services__servic {
	flex: 1 1 33.333%;
}
.servic {
	display: flex;
	padding: 50px 32.5px;
}
.services__servic:nth-child(-n+3) {
	padding: 50px 32.5px 50px 32.5px;
	border-bottom: 1px solid #e4e4e4;
}

.servic__image {
	flex: 0 0 32px;
	margin: 0px 30px 0px 0px;

	transition: 0.5s ease ;
}

.servic__image img {
	width: 100%;
}

.servic__info {
	flex: 1 1 100%;
}
.servic__header {
	font-size: 14px;
  color: #363636;
	text-transform: uppercase;
	font-weight: 700;

	margin: 0px 0px 16px 0px;
}
.servic__text {
	font-size: 15px;
  line-height: 1.6;
  color: #989898;
}
/*!------------------------------------------*/

/*! стили для секции "Особенность"*/

.feauture {
	background:  url(../img/images/feauture/feauture_background.jpg) center no-repeat;
	background-size: cover;
}
.feauture__wrapper {
	background-color: rgba(217, 217, 217, 0.85);
	padding: 115px 0px 0px 0px;
}

.feauture__images {
	position: relative;
	width: 100%;
	margin: 0 auto;

}
.feauture__image-wrapper-01 {
	position: relative;
	left: 23%;
}

.feauture__image-wrapper-02 {
	position: absolute;
	top: 38%;
	right: 20%;

	overflow: hidden;
	/*z-index: 2;*/
}
/*!------------------------------------------*/


/*! стили для секции "what we do"*/
.what-we-do {
	padding: 110px 0px 120px 0px;
}
/* стили для заголовка "what we do"*/
.what-we-do__header-block {
	margin: 0px 0px 45px 0px;
}

/* стили для абзаца "what we do"*/
.what-we-do__text {
	margin: 0 auto 93px;
}

/* стили для контента "what we do"*/
.what-we-do__content {
	display: flex;
	margin: 0px -15px;
}

.what-we-do__image {
	flex: 1 1 50%;
	padding: 0 15px;
}
.what-we-do__image {
	max-width: 100%;
}

.what-we-do__roll {
	flex: 1 1 100%;
	padding: 0 15px;
}
.roll {
	display: flex;
	flex-direction: column;
}
.roll__item {
	margin: 0px 0px 10px 0px;
	border: 1px solid #e4e4e4;
}
.roll__item_activ {
}
.roll__row {
	display: flex;
	padding: 13px 20px 13px 15px;
	align-items: center;
}
.roll__row_activ {
	border-bottom: 1px solid #e4e4e4;
}
.roll__icon {
	margin: 0px 16px 0px 0px;
	transition: 1s ease;
}
.roll__row:hover .roll__icon {
	transform: scale(1.2, 1.2);
}
.roll__theme {
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
  color: #363636;

	position: relative;
}
.roll__theme::after {
	content: url(../img/images/what_we_do/icon/arrow.svg);
	position: absolute;
	right: 0;
}
.roll__row_activ ::after {
	transform: rotate(180deg);
}
.roll__text {
	font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  color: #989898;

	padding: 15px 55px 23px 20px;
}
/*!------------------------------------------*/


/*! стили для секции " "*/